nav {
	ul {
		list-style-type: none;
		display: inline;
	}
	li {
		display: inline;
		padding-right: 10px;
	}
	a {
		text-decoration: none;
	}
	.logo {
		display: inline;
	}
}


.center{
	margin-right:auto;
	margin-left: auto;
	width: 70%;
}

.post-title{
	font-family: georgia;
}

.post-image {
	width: 800px / 960px * 100%;
	border: 1px solid;
}


